* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container { 
    max-width: 1224px;
    min-width: 280px;
    width: 400px;
    height: fit-content;
    padding: 20px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    color: white;
}
#copyimg {
    visibility: hidden;
}
.container p {
    font-size: 17px;
}

.output_text {
    width: 100%;
    height: 50px;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    background-color: rgb(54, 49, 49);
    justify-content: space-between;
    padding: 10px;
}

.output_text i {
    cursor: pointer;
}
.text_generate {
    width: 85%;
    font-size: 30px;
    /* border: 1px solid red; */
    opacity: 0.3;
}
.box_2 {
    width: 100%;
    /* border: 2px solid yellowgreen; */
    padding: 20px 20px;
    background-color: rgb(54, 49, 49);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.box2_1 {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
}
.spann {
    font-size: 20px;
}
.seekbar input {
    width: 100%;
    accent-color: rgb(0, 255, 0);
}
.option {
    width: 100%;
    border: 1px solid rgb(54, 49, 49);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.uppercase {
    /* border: 1px solid white; */
    display: flex;
    column-gap: 10px;
    font-size: 15px;
}
.uppercase input {
    width: 20px;
    height: 20px;
}
.uppercase input:checked {
    accent-color: rgb(3, 248, 3);
}
.lowercase {
    /* border: 1px solid white; */
    display: flex;
    column-gap: 10px;
    font-size: 15px;
}
.lowercase input {
    width: 20px;
    height: 20px;
}
.lowercase input:checked {
    accent-color: rgb(3, 248, 3);
}

.numberr {
    /* border: 1px solid white; */
    display: flex;
    column-gap: 10px;
    font-size: 15px;
}
.numberr input {
    width: 20px;
    height: 20px;
}
.numberr input:checked {
    accent-color: rgb(3, 248, 3);
}

.symboll {
    /* border: 1px solid white; */
    display: flex;
    column-gap: 10px;
    font-size: 15px;
}
.symboll input {
    width: 20px;
    height: 20px;
}
.symboll input:checked {
    accent-color: rgb(3, 248, 3);
}
.str_box {
    width: 100%;
    height: 70px;
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.str_box h2 {
    font-size: 15px;
}
.str_meter {
    /* border: 1px solid white; */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 15px;
    padding: 10px;
}
.str_level {
    width: 60%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
}
.boxes {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box1 {
    width: 12%;
    height: 50%;
    border: 1px solid white;
}
.box2 {
    width: 12%;
    height: 50%;
    border: 1px solid white;
}
.box3 {
    width: 12%;
    height: 50%;
    border: 1px solid white;
}
.box4 {
    width: 12%;
    height: 50%;
    border: 1px solid white;
}
button {
    height: 50px;
    background-color: rgb(0, 255, 0);
    border: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
button i {
    margin-top: 2px;
}
button:active {
    border: 1px solid rgb(0, 255, 0);
    background-color: rgb(54, 49, 49);
    color: rgb(0, 255, 0);
}

#copyMessage {
    display: none;
    border: 1px solid white;
    margin-right: -310px;
}
